*{
	margin: 0;
	padding: 0;
	border: 0;
}


body{

	background-color: black;
	width: 100%;
	height: 100%;
	
}
#big_div{
		   	 
	border: 1px solid black;
	width: 100%;
	height: auto;
	
}

#logo{


	float: left;
	width: 30.5%;
	height: 100px;
	background-color: #47c9af;

}

#logo img{

	width: 100%;
	height: 100%;
}

#content{


	margin: 10% auto;
	width: 72%;
	height: auto;
	border:1px solid #47c9af;

}

#about{

	display: none;
	clear: both;
	float: left;
	padding: 2px;
	background-color: white;
	width: 99.3%;
	height: 80%;
	border: 2px solid white;
}

#info{



	display: block;
	margin-left: 10px;
	padding: 10px;
	float: left;
	width: 65%;
	height: 380px;
	border: 1px solid red;
}



#aboutImg{
	float: left;
	padding: 10px;
	border: 1px solid #47c9af;
	width: 28%;
	height: 380px;
	border-radius: 10px;


}

#info article h1{

	text-align: center;



}
#info article h3:first-of-type{

	margin-top: 20px;




}


.efect{


 	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font: inherit;
	margin: 0;
	outline: 0;
	transition: all .1s linear;


}

.efect:active{
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}   

nav ul li img{

	padding-bottom: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50px;
	height: 50px;
}

#navbar{

	margin-left: 28%;
	margin-top: 0px;
	width: 72%;
	height: 100px;

}

#navbar ul {


		display: block;
		list-style: none;
		background-color: #47c9af;
		text-align: center;
		padding: 0;
		margin: 0;
		height: 100px;
		width: 100%;

		}


#navbar li {


	display: block;
	float: left;
	height: 100px;	

	font-family: 'Oswald', sans-serif;
	

	}

#navbar li a {

		height: 80px;	
		vertical-align: middle;
		padding: 10px 40px 10px 40px;
  		font-size: 18px;
		text-decoration: none;
		color: #fff;
		display: block;
		transition: .3s background-color;

		}

		 
#navbar a:hover {
		  background-color: #34b299;
		}

